* {
  margin: 0;
  padding: 0;
}
.diseny {
  /* background-color: #b63030; */
  background-image: url('images/backg/bg_winter.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 25%;
  position: fixed;
}
h1 {
  text-align: center;
  font-family: 'Shojumaru', cursive;
  color: #ffffff;
  font-size: 150px;
}
#start-screen {
  width: 1100px;
  height: 800px;
  background-image: url('images/screens/gamestart.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.inicioScreen {
  /* border: #b63030 solid 3px; */
  margin-top: 50px;
  margin-left: 50px;
}

#myGame {
  display: none;
  margin: 100px;
}

.start {
  padding-left: 200px;
}

.btn {
  background-color: #1d698b;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 32px 160px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}
.btn.pausa {
  background-color: #1491a1;
}
.btn:hover {
  background-color: #3e8e41;
  color: white;
}
.gameOver {
  width: 1100px;
  height: 800px;
  background-image: url('images/screens/gameover.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}
.gameWinn {
  width: 1100px;
  height: 800px;
  background-image: url('images/screens/winner.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}
